.todo {
    min-height: 88.9vh;
    background-color: #f3f3f3;
}

.todo .container {
    background-color: #fff;
}

.edit-col {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.table-title {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
}

.edited-sign {
    font-size: 10px;
    color: #000;
    font-weight: 700;
}

.overflow-scroll {
    overflow: scroll;
}

.date {
    line-height: 1;
}

.hidden {
    display: none;
}

.todo-lists {
    min-height: 33vh;
    max-height: 50vh;
    overflow: scroll;
}

.search-btn {
    background-color: #dee2e6;
    font-weight: 700;
}

.search-btn:hover {
    background-color: #c7c9ca;
}

.search-form label {
    font-size: 12px;
}

@media screen and (max-width:480px) {
    .title-buttons {
        display: none!important;
    }

    .edit-col {
        border-left: none;
    }

    .content-buttons {
        margin-top: 10px;
    }

    .content-buttons a {
        font-size: 10px;
    }

    .search-form {
        margin-top: 10px;
    }
}